---
import type { ContentBlock } from "@/types";
import Heading from "@/components/blocks/Heading.astro";
import Link from "@/components/blocks/Link.astro";
import Image from "@/components/blocks/Image.astro";
type Props = {
  block: ContentBlock;
};
const { block } = Astro.props;
---

<div class="flex gap-x-40 rounded-xl justify-between bg-white">
  <div class="flex-1 space-y-8">
    {
      block.left?.map((block) => {
        switch (block.blockType) {
          case "heading": {
            return <Heading {block} />;
          }
          case "text": {
            return <p>{block.text}</p>;
          }
          case "link": {
            return <Link {block} />;
          }
          case "image": {
            return <Image {block} />;
          }
        }
      })
    }
  </div>
  <div class="flex-1 space-y-8">
    {
      block.right?.map((block) => {
        switch (block.blockType) {
          case "heading": {
            return <Heading {block} />;
          }
          case "text": {
            return <p>{block.text}</p>;
          }
          case "link": {
            return <Link {block} />;
          }
          case "image": {
            return <Image {block} />;
          }
        }
      })
    }
  </div>
</div>
