---
import type { ContentBlock } from "@/types";
import Heading from "@/components/blocks/Heading.astro";
import Link from "@/components/blocks/Link.astro";
import Image from "@/components/blocks/Image.astro";
import Text from "@/components/blocks/Text.astro";
import Youtube from "@/components/blocks/Youtube.astro";
type Props = {
  block: ContentBlock;
  index: number;
};
const { block } = Astro.props;
const leftImage = block.left?.find(
  (block) => block.blockType === "image" || block.blockType === "youtube"
);
const rightImage = block.right?.find(
  (block) => block.blockType === "image" || block.blockType === "youtube"
);
const same = leftImage === rightImage;
---

<div
  class="grid grid-cols-2 gap-x-40 768:gap-y-10 order 1280:gap-x-20 1024:gap-x-10 rounded-xl justify-between 768:grid-cols-1 bg-white"
>
  <div
    class:list={[
      "space-y-8 768:space-y-3",
      !same && leftImage ? "768:order-2" : "768:order-1",
    ]}
  >
    {
      block.left?.map((block) => {
        switch (block.blockType) {
          case "heading": {
            return <Heading {block} />;
          }
          case "text": {
            return <Text {block} />;
          }
          case "link": {
            return <Link {block} />;
          }
          case "image": {
            return <Image {block} />;
          }
          case "youtube": {
            return <Youtube {block} />;
          }
        }
      })
    }
  </div>
  <div
    class:list={[
      "space-y-8 768:space-y-3",
      !same && rightImage ? "768:order-2" : "768:order-1",
    ]}
  >
    {
      block.right?.map((block) => {
        switch (block.blockType) {
          case "heading": {
            return <Heading {block} />;
          }
          case "text": {
            return <Text {block} />;
          }
          case "link": {
            return <Link {block} />;
          }
          case "image": {
            return <Image {block} />;
          }
          case "youtube": {
            return <Youtube {block} />;
          }
        }
      })
    }
  </div>
</div>
